body {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  margin: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.searchInput {
  margin: 20px 10px 10px 10px;
}

.topDiv {
  display: flex;
}

.topDiv button {
  margin-left: 3px;
}

.topDiv input {
  flex: 1
}

.list_back {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0.8;

}

.list_back div {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 12%;
  left: 12%;
  background: #1c1c1e85;
  overflow: auto;
  
}

.list_back div button {
  margin: 2px 2px 2px 2px;
}


.folderListDiv {
  margin: 0 10px 15px 10px;
  border-radius: 10px;
  background-color: #213a3c78;
  max-height: 20%;
  min-height: 30px;
  overflow: auto
}

.searchListDiv {
  margin: 0 10px 15px 10px;
  /* border: 3px solid #2f2121; */
  border-radius: 10px;
  background-color: #2f2121;
  max-height: 40%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.folderChildDiv {
  flex: 1;
  margin-right: 10px;
}

.urlListDiv {
  margin: 0 10px 15px 10px;
  /* border: 3px solid #333333; */
  max-height: 60%;
  overflow: auto;
  position: relative;
  border-radius: 10px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

a {
  overflow-wrap: break-word;
}

.childDiv {
  margin: 0 0 10px 0;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 20px;
  min-width: 80px;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  body {
    background: #1c1c1e;
    color: white;
  }

  button {
    color: #fffffe;
    background-color: #1989fa;
  }

  a:link {
    color: #1989fa
  }

  a:visited {
    color: #07c160
  }
}



/* 浅色模式 */
@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #333;
  }

}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}